<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{name}}</title>
  <style>
    #msglog, #messageInput {
      border: 1px solid #ccc;
      width: 500px;
      height: 350px;
      overflow-y: auto;
    }
    #messageInput {
      height: 80px;
    }
    .message {
      line-height: 27px;
    }
    .message .user {
      padding-right: 5px;
      padding-left: 5px;
      color: brown;
    }
  </style>
</head>
<body>
    房间名:{{name}} | 房东:{{ownerName}} | {{count}}人在线

    <div id="msglog">

    </div>
    <textarea name="message" id="messageInput"></textarea>
    <br/>
    按Enter键发送

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script>
      $(function () {
        var socket = io();

        socket.on('msg', function (msg) {
          var message = '' +
              '<div class="message">' +
              '  <span class="user">' + msg.nickname + ': </span>' +
              '  <span class="msg">' + msg.message + '</span>' +
              '</div>';
          $('#msglog').append(message);
        });

        $('#messageInput').keydown(function (e) {
          if (e.which === 13) {
            e.preventDefault();
            var msg = $(this).val();
            $(this).val('');
            console.log(msg);
            $.get('/chat/{{id}}/'+msg, function (res) {
              console.log('发送成功');
            });
          }
        });
      });
    </script>
</body>
</html>